.rw-banner {
    padding: 11px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 120;
    min-height: 40px;
    text-align: center;
}

.rw-banner_dark {
    color: #fff;
    background-color: #000c20;
}

.rw-banner_light {
    background-color: #efefef;
    color: #000;
}

.rw-banner ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    margin: 0;
    list-style: none;
}

.rw-banner ul li {
    margin: 0;
}

.rw-banner ul li::before {
    display: none;
}

.rw-banner:not(.omnichannel) ul li:not(:first-child)::before {
    content: "\2022";
    display: inline-block;
    padding-right: 10px;
    margin: 0;
    line-height: 1;
    font-size: 17px;
}

.rw-banner ul li:not(:first-child) {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .rw-banner ul {
        flex-wrap: wrap;
    }
}