/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/
.mega-menu table td .wrap>a, .side-menu>li>a {
    font-size: 12px;
}


.ajax_load .top_wrapper .catalog_block .catalog_item>div {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

/*
@font-face {
font-family: Gotham-Book; 
src: url(fonts/Gotham-Book.ttf); 
font-family: Gotham-Bold; 
src: url(fonts/Gotham-Bold.ttf); 
font-family: Gotham-Medium; 
src: url(fonts/Gotham-Medium.ttf); 
}
body, body .ymaps-map{font: 12px/20px "Gotham-Book";}
.tooltip{font-family: "Gotham-Book";}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Gotham-Bold";

}
.mega-menu table td .wrap>a, .side-menu>li>a {
     font-family: "Gotham-Medium";

}
.product-container .cost.prices.detail .price.font_mxs {
    font-family: "Gotham-Bold";
}
*/
#headerfixed a.basket-link.delay.inner-table-block.big {
    display: none;
}


.logo.footer {
    display: inline-block;
    position: relative;
    height: 151px;
    max-width: 190px;
    line-height: 84px;
    z-index: 10;
}

.logo.footer img {
    max-height: 100%;
    max-width: 100%;
}

#headerfixed .logo-row .logo img{
     max-width: inherit;   
}
#headerfixed .logo.colored a img {
    background-color: #ffffff;
}

.mega-menu table td.menu-item.sale .wrap > a {
    color: red;
}
.section-compact-list .row.flexbox {
    justify-content: center;
}
.section-compact-list .link_all {
    padding-right: 20px;
}
.section-compact-list .link_subsection {
    padding-right: 20px;
}

.mega-menu .menu_img img {
    max-width: 40px;
}